@charset "utf-8";
/****************  
    全体共通
*****************/
/* body *,
#work *,
#profile * ,
#about *,
#skill *,
#like *,
footer *{
    outline:1px solid red;
} */
.line{
    background: none;
}

#career .sec-t h3{
    margin-bottom: 30px;
}

#career .sec-t::after{
    display: none;
}
/******** about *********/
#career{
    max-width: 1206px;
    width: 100%;
    margin: 0 auto;
}
.career1,.career2{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto 120px;
}
.mobile-wrap{
    display: none;
}
/* ABOUTへ戻るボタン */
.about-back,.about-back.active{
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
}
.about-back::before{
    position: absolute;
    width: 7px;
    top: 11px;
    left: 14px;
    content: "";
    border: solid 1px #fff;
    transform: rotate(-50deg);
}
.about-back::after{
    position: absolute;
    width: 25px;
    top: 15px;
    left: 15px;
    content: "";
    border: solid 1px #fff;
}
.about-back{
    position: fixed;
    right: 36px;
    bottom: 35px;
    height: 55px;
    font-size: 50px;
    color: #fff;
    background: #959595;
    border-radius: 20%;
    padding: 20px 5px 0 5px;
    cursor: pointer;
    transition: .3s;
    filter: drop-shadow(3px 3px 1px #7E7E7E);
    /* デフォルトで非表示 */
    opacity: 0;
    visibility: hidden;
}
.active{
    opacity: 1;
    visibility: visible;
}

/****************  
    レスポンシブ
*****************/
@media screen and (max-width: 768px) {
    #career{
        max-width: 390px;
        margin: 0 auto;
    }
    
    .sec-t h3{
        margin-bottom: 20px;
    }
    .wrapper{
        display: none;
    }
    .mobile-wrap{
        display: block;
    }
    .career1,.career2{
        width: 358px;
        margin: 0 auto;
    }
    .career1{
        margin-bottom: 16px;
    }
    .career2{
        margin-bottom: 36px;
    }
    .career1 img ,.career2 img{
        width: 358px;
    }
    
}