@charset "UTF-8";

/****************  
    全体共通
*****************/
/* body *,
#work *,
#profile * ,
#about *,
#skill *,
#like *,
footer *{
    outline:1px solid red;
} */
html{
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
    /* font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Piazzolla', serif; */
    background-color: #FCFAF6;
    
}
body{
    /* max-width: 1980px; */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #443F3D;
}
.hm-1 li a{
    position: relative;
}
.hm-1 li a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #AAC7AA;
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: right top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;  /*変形の時間*/
    }
    
.hm-1 li a:hover::after {
    transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
    transform-origin: left top; /*左から右に向かう*/
    }


h3,h4,p{
    color: #443F3D;
}

.main-img-r{
    display: none;
}
.sns-white,
.sns-black{
    display: none;
}
.sns-black.active,
.sns-white.active{
    display: block;
}
/****************  
    header
*****************/
#header-block{
    width: 1366px;
    margin: 0 auto;
    font-size: 1.6rem ;
}
.header-menu ul{
    display: flex;
    justify-content: space-between;
    width: 398px;
    margin: 60px 0;
}
.header-menu ul li{
    margin-right: 32px;
}
.header-menu ul li:last-child{
    margin-right: 0;
}
#header-block-r{
    display: none;
}

/**************
    main
 **************/
#mainvisual,#work{
    max-width: 1366px;/* リファクタリング */
    margin: 0 auto 100px;
    position: relative;
}
.main-img{
    position: relative;
    text-align: center;
}
.main-img img{
    max-width: 1366px;
    width: 100%;
}
.main-img h2{
    font-size: 4.9rem;
}
.name,
.site-t{
    width: 500px;
    position: absolute;
}
.name{
    top: -50px;
    left: 360px;
}
.site-title{
    position: absolute;
    top: 30%;
    max-width: 300px;
    width: 100%;
}
.site-t{
    top: 40px;
    right: -750px;
}
/* サイドのsnsロゴ  top: 694px; */
.sns{
    position: fixed;
    top: 70%; 
    right: 50px;
    z-index: 30;
}
.sns h6{
    position: absolute;
    left: 2px;
    top: -20px;
    transform: rotate(-90deg);
    font-size: 1.3rem;
}
.sns ul::before{
    position: relative;
    right: 16px;
    top: 20px;
    display: block;
    content: "";
    border-right: solid 1px #000000;
    width: 30px;
    height: 50px;
}
.sns img{
    position: relative;
    top: 30px;
    width: 30px;  
}
.sns li{
    margin-bottom: 20px;
}

/**************
    共通事項
 **************/

/* 各セクション共通事項 */
#work,#about,#skill{
    position: relative;
    max-width: 1366px;
    margin: 0 auto 156px;
}
#work{
    text-align: center;
}
/* 共通ボタンデザイン */
.button{
    /* width: 268px; */
    margin: 0 auto;
    text-align: center;
}
.btn-green{
    position: relative;
    background-color: #AAC7AA;
    padding: 14px 134px;
    font-size: 2.4rem;
}
.btn-t{
    position: absolute;
    left: 52px;
}

.btn-width{
    padding: 14px 140px;
}
.btn-t2{
    position: absolute;
    left: 45px;
}
/*矢印と下線の形状*/
.btn-green::before{
    content: '';
    /*絶対配置で下線の位置を決める*/
    position: absolute;
    bottom:-8px;
    top:35px;
    right: 45px;
    /*下線の形状*/    
    width: 20px;
    height: 1px;
    background:#333;
    /*アニメーションの指定*/
    transition: all .3s;
}

.btn-green::after{
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    bottom:-3px;
    right: 45px;
    top: 33px;
    /*矢印の形状*/    
    width: 5px;
    height:1px;
    background:#333;
    transform: rotate(35deg);
    /*アニメーションの指定*/
    transition: all .3s;
}

/*hoverした際の移動*/
.btn-green:hover::before,
.btn-green:hover::after{
    right: 20px;
}


.sec-t h3{
    max-width: 140px;
    width: 100%;
    margin: 0 auto 100px;
    font-size: 3.6rem;
    text-align: center;
}
.line{
    background: linear-gradient(transparent 70%, #AAC7AA 0%);
}

.sec-t::after{
    content: "";
    border: solid 1px #000000;
    transform: rotate(-90deg);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 80px;
    width: 30px;
}

/*********************
    共通事項ここまで
 *********************/


/* 成果物 */
.works-content{
    position: relative;
    max-width: 1063px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 111px;
}
.works-content a{
    display: block;
    transition-duration: 0.5s;
    filter: drop-shadow(5px 5px 5px #E5E5E5);
}
.works-content a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.6;
    }


.original{
    position: relative;
    max-width: 438px;
    width: 100%;
}
.original-img img{
    max-width: 405px;
    width: 100%;
}
.original-img2 img{
    max-width: 135px;
    width: 100%;
}
.pt1{
    position: absolute;
    top: 120px;
    right: -20px;
}
.pt2{
    position: absolute;
    top: 120px;
    right: -20px;
}
.pt3{
    top: 128px;
}
.pt3 img{
    width: 115px;
}
.pop-img img{
    padding-top: 30px;
    width: 225px;
}
.title{
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 365px;
    font-size: 1.6rem;
}

/* プロフィール */
.prf-content{
    background-color: #fff;
    max-width: 1206px;
    width: 100%;
    height: 695px;
    margin: 0 auto 134px;
}
.prf-flex{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.prf{
    padding: 100px 0 0 50px;
}
.prf h2{
    position: relative;
    font-size: 3.6rem;
}
.prf-en{
    position: absolute;
    top: 23%;
    font-size: 1.8rem;
    padding-left: 50px;
}
.text1{
    max-width: 577px;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
}
.p-1,.p-2,.p-3{
    margin-bottom: 42px;
}
.posi{
    position: absolute;
    top: -50px;
    right: 50px;
}
.prf-content2{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.prf-content2 img{
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
}

/******** skill *******/
.skill-flex{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.skill-content{
    width: 556px;
    margin: 0 auto;
}
.skill-content p{
    font-size: 1.6rem;
}
.skill-content img{
    display: block;
    width: 340px;
    margin: 1px auto;
}
.skill-content h3{
    font-size: 3.6rem;
    text-align: center;
}
.skill-t,.tool{
    margin-bottom: 30px;
}
.tool-block .tool{
    font-size: 1.6rem;
    text-align: inherit;
}
.tool2{
    margin-bottom: 25px;
}
.block{
    width: 556px;
    margin-bottom: 50px;
    line-height: 1.5;
}
.block2{
    margin-bottom: 70px;
}
.code-block{
    width: 312px;
    line-height: 1.5;
}

/**************
    footer
 **************/
footer{
    background-color: #404040;
    /* height: 400px; */
    padding: 77px;
}
#sns-f{
    max-width: 133px;
    width: 100%;
    margin: 0 auto 60px;
}
#sns-f ul{
    display: flex;
    justify-content: space-between;
}
.icon-f{
    width: 38px;
    /* margin-bottom: 59px; */
}
.footer-btn .btn-green{
    position: relative;
    padding: 14px 200px 14px;
}
.icon-f-m{
    position: absolute;
    top: 15px;
    left: 63px;
    width: 35px;
}
.footer-btn{
    max-width: 1206px;
    width: 100%;
    margin-bottom: 80px;
}

.btn-f2{
    position: absolute;
    left: 38%;
}
/*矢印と下線の形状*/
.btn-f1::before{
    right: 67px;
}
.btn-f1::after{
    right: 67px;
}
.btn-f1:hover::before,
.btn-f1:hover::after{
    right: 50px;
}
.copy{
    font-size: 1.6rem;
    color: #FCFAF6;
    width: 270px;
    margin: 0 auto;
}

/*********************************
            レスポンシブ
 *********************************/
@media screen and (max-width: 1100px) {

    /* top・works　成果物flex-wrap  */
    .works-content{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:768px){
    /********* 全体共通 *********/

    #header-block,.main-img,#mainvisual .sns{
        display: none;
    }

    .main{
        max-width: 490px;
    }
    /* #about{
        max-width: 90%;
    }
    #about,#skill{
        width: 90%;
    } */
    /********* 全体共通 ここまで*********/


    /********* header *********/
    /* ハンバーガーメニュー アイコン */

    #header-block-r{
        display: block;
        position: fixed;
        top: 3%;
        right: 30px;
        z-index: 10;
    }
    #header-block-r .nav{
        max-width: 430px;
        width: 100%;
        background-color: #AAC7AA;
    }
    
    .nav_toggle{
        display: block;
        position: relative;
        width: 1.75rem;
        height: 1.75rem;
        z-index: 30;
    }
    .nav_toggle i{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        transition: transform .5s, opacity .5s;
    }
    .nav_toggle i:nth-child(1) {
        top: 0;
        width: 25px;
    }
    .nav_toggle i:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
        width: 16px;
    }
    .nav_toggle i:nth-child(3) {
        bottom: 0;
        width: 19px;
    }
    .nav_toggle.show i:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }
    .nav_toggle.show i:nth-child(2) {
        opacity: 0;
    }
    .nav_toggle.show i:nth-child(3) {
        width: 25px;
        transform: translateY(-8px) rotate(45deg);
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
    }
    .nav ul{
        max-width: 350px;
        width: 100%;
    }
    .nav.show {
        opacity: 1;
        visibility: visible;
    }
    /* ハンバーガーメニュー */
    #header-block-r .nav.show ul{
        width: 100%;
        margin: 0 auto;
    }
    .nav.show ul{
        position: relative;
        padding: 98px 40px 32px;
    }
    .nav.show ul::after{
        position: absolute;
        bottom: 0;
        content: '';
        max-width: 290px;
        width: 100%;
        border-bottom: 1px solid #2D2E2D;
    }
    .nav.show ul li a{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 48px;
    }
    .nav.show a{
        font-size: 3.2rem;
    }
    .nav.show .name-r{
        font-size: 1.2rem;
        text-align: right;
    }
    
    /* ハンバーガー　SNS */
    .nav.show ul li img{
        display: flex;
        justify-content: space-between;
        width: 35px;
    }
    .nav.show .sns-r{
        display: flex;
        justify-content: space-around;
        width: 118px;
        margin: 0 auto;
    }
    .nav.show .sns-r::after{
        display: none;
    }
    /********************
            mainvisual 
    **********************/
    #mainvisual{
        margin: 0 auto 46px;
    }
    .main-img-r{
        /* background:url(../images/profile-img/profile-r.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px; */
        display: block;
        position: relative;
    }
    .main-img-r img{
        width: 100%;
    }
    .main-img-r h2{
        font-size: 3rem;
    }
    
    /* .site-title{
        max-width: 300px;
        height: 500px;
        width: 100%;
        top: 8%;
    } */
    .name{
        max-width: 300px;
        width: 100%;
        top: 22%;
        left: 11%;
    }
    .site-t{
        max-width: 250px;
        width: 100%;
        top: 30%;
        right: 6%;
    }
/********************
        work 
**********************/

    #work,#about,#skill{
        max-width: 490px;
        width: 100%;
        margin-bottom: 145px;
    }
    .works-content{
        max-width: 351px;
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    .original{
        width: 90%;
    }
    .original-img img{
        width: 330px;
    }
    .original-img2 img{
        width: 110px;
    }
    .title{
        width: 300px;
        font-size: 1.3rem;
        top: 313px;
        left: 55%;
    }
    .pt1{
        top: 30%;
        right: -11%;
    }
    .pt2 img{
        width: 120px;
    }
    .pt2{
        top: 80px;
        right: -36px;
    }
    .pt3{
        width: 90px;
        right: -3%;
        top: 26%;
    }
    .wc-bottom{
        margin-bottom: 0;
    }
    /********************
            About 
    **********************/
    #about{
        margin: 0 auto 110px;
    }
    .prf-content{
        width: 351px;
        height: 885px;
    }
    .posi{
        top: -280px;
        left: 90px;
    }
    .prf{
        position: relative;
        padding-left: 0;
    }
    .prf-en{
        display: block;
        padding-left: 0;
        font-size: 1.2rem;
        top: 110%;
        left: 35%;
    }
    .myou{
        position: absolute;
        top: -7px;
        left: -12px;
    }
    .mei{
        position: absolute;
        top: -7px;
        right: -106px;
    }
    .prf-content2{
        width: 180px;
        height: 180px;
    }
    .prf-content2 img{
        left: 0;
    }
    .prf h2{
        text-align: center;
        font-size: 2.4rem;
        padding-top: 150px;
        margin-bottom: 30px;
    }

    /* ポップ用　CSS */
    .pop-img{
        margin-top: 30px;
    }
    .pop-img img{
        padding: 15px 0 0 35px;
        width: 230px;
    }
    .prf-flex{
        padding: 20px;
        margin-bottom: 50px;
    }
    .text1{
        width: 326px;
        font-size: 1.3rem;
        line-height: 1.8;
    }
    /********************
            skill 
    **********************/
    #skill{
        margin-bottom: 30px;
    }
    .sec-t h3{
        margin: 0 auto 100px;
    }
    .skill-flex{
        display: block;
    }
    .skill-content{
        width: 351px;
        margin: 0 auto;
    }
    .skill-content p{
        width: 326px;
        margin: 1px auto 36px;
        font-size: 1.3rem;

    }
    .tool-block .tool,.code-block{
        text-align: center;
    }
    .tool-block .code-block{
        font-size: 1.6rem;
        margin-bottom: 72px;
    }
    /* .tool-block .code-block2{
        margin-bottom: 20px;
    } */
    .tool{
        margin-bottom: 23px;
    }
    /********************
            footer 
    **********************/
    footer{
        max-width: 450px;
        width: 100%;
        padding: 70px 16px;
    }
    .footer-btn{
        width: 297px;
        margin: 0 auto;
    }
    .footer-btn .btn-green{
        padding: 10px 145px;
    }
    .icon-f-m{
        top: 17px;
        left: 38px;
        width: 22px;
    }
    .btn-f2{
        top: 19px;
        left: 100px;
        font-size: 2.0rem;
    }
    .copy{
        padding-top: 100px;
        text-align: center;
    }
    .btn-f1::before{
        top: 32px;
        right: 50px;
    }
    .btn-f1::after{
        top: 30px;
        right: 50px;
    }
    
}